{% extends 'core/base.html' %}

{% block title %} Add Client {% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl"> Add Client  </h1>


        {% if team.plan.max_clients > team.clients.all|length %}

            <form method="post" action=".">
                {% csrf_token %}

                {{form.as_p}}

                <button class="py-4 px-8 bg-teal-900 text-white rounded-xl">Submit</button>
    
            </form>
        {% else %}
        <div class="inline-block mt-6 px-6 py-6 bg-red-400 rounded-xl text-white">
            Your team have reached the max limit of you plan.
            Your owner must upgrade their current plan!
        </div>
        {% endif %}
    </div>
{% endblock %}